.main {
  width: 80%;
  margin: 0 auto;
}
.header {
  text-align: center;
}
.container {
  text-align: center;
}
.block {
  width: 300px;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  margin: 5px;
}
.block h3 {
  margin-top: 0;
}
.close-btn {
  background-color: #ff5e5e;
}
.close-btn:hover {
  background-color: hsl(0, 100%, 63%);
}
.close-btn:active {
  background-color: hsl(0, 100%, 58%);
  box-shadow: 0 3px #423;
}
p {
  border: 0;
}
